*{
	padding: 0;
	margin: 0;
}
html,body{
	height: 100%;
	font-size: 62.5%;
	font-family: "Microsoft YaHei";
}
.header{
	width: 100%;
	height: 720px;
	background: url(../image/t1.png) no-repeat center center;
	overflow: hidden;
}
	.logo{
		width: 483px;
		height: 483px;
		margin: 40px auto 15px auto;
	}
	.info{
		width: 730px;
		height: 68px;
		font-size: 16px;
		margin: 0 auto;
		background: url(../image/t3.png) no-repeat center center; 
		text-align: center;
		padding: 25px 20px;
		line-height: 30px;
	}
.content{
	width: 1170px;
	margin: 10px auto 0 auto;
}
	.t1,.t2,.t3,.t4,.t5{
		width: 895px;
		height: 57px;	
	}
	.t1{
		margin: 0 auto 65px auto;	
	}
	.pic1{
		float: left;
	}
	.word1{
		margin-left: 600px;
	}
		.word1 .p1{
			font-size: 30px;
			color: #398ba8;
		}
		.word1-1{
			margin-top: 30px;
		}
			.word1p{
				width: 270px;
				height: 200px;
				float: left;
			}
			.word1-1 .p2{
				font-size: 14px;
				color: #666666;
				margin-left: 300px;
				line-height: 30px;
			}
	.t2{
		margin: 110px auto 70px auto;	
	}
	.pic2{
		width: 370px;
		float: left;
	}
		.pic2 img{
			margin-bottom: 18px;
		}
	.video{
		margin-left: 400px;
	}
		.v1{
			display: none;
		}
	.t3{
		margin: 90px auto 55px auto;
	}
	.word2{
		width: 368px;
		height: 328px;
		border: 1px solid #fed3b7;
		float: left;
		margin-left: 30px;
	}
		.word2-1{
			width: 100%;
			height: 89px;
			background: #fed3b7;
			font-size: 24px;
			color: #c07240;
			line-height: 89px;
			text-align: center;
		}
		.word2-2{
			height: 110px;
			padding: 35px 22px 0 22px;
			font-size: 14px;
			color: #666666;
			line-height: 24px;
		}
		.word2-3{
			width: 23px;
			margin: 45px auto 0 auto;
		}
		.h1{
			margin-left: 0;
		}
	.t4{
		margin: 460px auto 55px auto;
	}
	.swiper-container{
		width: 1170px;
		height: 657px;
	}
	.t5{
		margin: 70px auto 65px auto;
	}
	.word3{
		width: 170px;
		height: 160px;
		float: left;
		margin-left: 30px;
		margin-bottom: 30px;
	}
		.word3-1{
			width: 100%;
			height: 60px;
			background: #f0eeeb;
			font-size: 14px;
			color: #ab8e73;
			text-align: center;
			line-height: 60px;
		}
		.word3-1 span{
			font-size: 16px;
		}
		.word3-2{
			height: 75px;
			background: #e9e4e0;
			padding-top: 25px;
			font-size: 18px;
			color: #333333;
			text-align: center;
			line-height: 30px;
		}
		.h2{
			margin-left: 0;
		}
		.h3{
			padding: 25px 12px 0 12px;
			line-height: 22px;
		}
		.h4{
			padding: 25px 12px 0 12px;
		}

	
@media screen and (max-width: 970px){
	.header{
		height: auto;
		padding: 10px 0;
	}
	.logo{
		width: 60%;
		height: auto;
	}
	.info{
		width: auto;
		height: auto;
		margin: 0 10px;
		background: #FFF;
		border: 1px solid #8e8073;
		border-radius: 10px;
	}


	.content{
		width: 100%;
	}
	.t1,.t2,.t3,.t4,.t5{
		width: 90%;
		height: auto;
		margin: 5% auto;
	}
	.pic1{
		display: none;
	}
	.word1{
		width: 100%;
		height: auto;
		margin-left: 0;
	}
		.word1 .p1{
			width: 100%;
			font-size: 18px;
			text-align: center;
		}
		.word1-1{
			margin-top: 5%;
			overflow: hidden;
		}
		.word1p{
			width: 40%;
			height: auto;
			margin-left: 5%;
			margin-right: 5%;
			}
		.word1-1 .p2{
				font-size: 14px;
				width: 90%;
				margin-left: 5%;
				margin-right: 5%;
			}
	.pic2{
		width: 100%;
	}
		.pic2 img{
			width: 90%;
			margin-left: 5%;
		}
	.video{
		display: none;
	}
	.word2{
		width: 90%;
		height: auto;
		margin-left: 5%;
		margin-bottom: 5%;
	}
	.word2-2{
		height: auto;
		font-size: 16px;
	}
	.word2-3 img{
		display: none;
	}
	.swiper-container{
		width: 90%;
		height: auto;
		margin-left: 5%;
	}
	.pic3{
		width: 90%;
		margin-left: 5%;
	}
	.word3{
		width: 44%;
		margin-left: 4%;
	}
	.h4{
		line-height: 22px;
		}
}
	